Repository MicrosoftDocs/well-architected, pull requests merged in 2022-10, with the labels that each got.

#48 More precise language on events
  well-architected/mission-critical/mission-critical-application-design.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, architecture-center/svc, well-architected/subsvc, missed-content-complete, event-triaged-to-10AM

#49 Add missing bracket
  well-architected/resiliency/design-best-practices.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, well-architected/subsvc

#53 Add CI/CD recommendations
  well-architected/sustainability/sustainability-testing.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, architecture-center/svc, well-architected/subsvc
