Repository MicrosoftDocs/well-architected, pull requests merged in 2022-05, with the labels that each got.

#15 Suggest change of term for DDoS in mission-critical-overview.md
  well-architected/mission-critical/mission-critical-overview.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, architecture-center/svc, well-architected/subsvc

#20 Adding the load & chaos testing video
  well-architected/mission-critical/index.yml
  well-architected/mission-critical/mission-critical-deployment-testing.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, architecture-center/svc, well-architected/subsvc

#22 fix AKS landing zone broken link
  well-architected/services/compute/azure-kubernetes-service/azure-kubernetes-service.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, architecture-center/svc, well-architected/subsvc

#23 Fix architecture spelling
  well-architected/services/compute/azure-kubernetes-service/azure-kubernetes-service.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, well-architected/subsvc
