Repository MicrosoftDocs/well-architected, pull requests merged in 2023-03, with the labels that each got.

#79 Update azure-application-gateway.md
  well-architected/services/networking/azure-application-gateway.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, architecture-center/svc, well-architected/subsvc, qualifies-for-auto-merge, pending-content-team/business-approval

#80 Correction to off-the-shelf
  well-architected/carrier-grade/carrier-grade-get-started.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, well-architected/subsvc, qualifies-for-auto-merge

#82 Correction to 'archtiectures'
  well-architected/hybrid/hybrid-overview.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, well-architected/subsvc, qualifies-for-auto-merge

#83 Corrected real-wold
  well-architected/mission-critical/mission-critical-design-methodology.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, well-architected/subsvc, qualifies-for-auto-merge

#84 Removed and updated duplicate links
  well-architected/security/design-governance-landing-zone.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, architecture-center/svc, well-architected/subsvc, qualifies-for-auto-merge
