Repository MicrosoftDocs/well-architected, pull requests merged in 2023-08, with the labels that each got.

#107 Use Premium instead of Premier, as that is the name of our SKU
  well-architected/services/messaging/service-bus/reliability.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, waf/svc, waf-service-guide/subsvc

#108 Update azure-application-gateway.md
  well-architected/services/networking/azure-application-gateway.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, waf/svc, waf-service-guide/subsvc

#114 Update security.md
  well-architected/services/networking/azure-front-door/security.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, cact-review-in-progress, pending-content-team/business-approval, waf/svc, waf-service-guide/subsvc

#113 Update reliability.md
  well-architected/services/networking/azure-front-door/reliability.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge, cact-review-in-progress, pending-content-team/business-approval, waf/svc, waf-service-guide/subsvc
