Repository MicrosoftDocs/well-architected, pull requests merged in 2024-01, with the labels that each got.

#143 Spelling x2
  well-architected/service-guides/azure-firewall.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, waf/svc, waf-service-guide/subsvc

#142 Consistency and spacing
  well-architected/mission-critical/mission-critical-data-platform.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, waf/svc, waf-workload-mission-critical/subsvc

#146 Added about CT using AMA
  well-architected/operational-excellence/enable-automation.md
Labels: Change sent to author, do-not-merge, waf/svc, waf-pillar-excellence/subsvc

#145 Update - Added about AUM and links
  well-architected/operational-excellence/automate-tasks.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, waf/svc, waf-pillar-excellence/subsvc

#148 Wrong interpretation of WAF (Azure Web Application Firewall instead o…
  well-architected/reliability/failure-mode-analysis.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, waf/svc, waf-pillar-reliability/subsvc

#147 Wrong interpretation of WAF (Azure Web Application Firewall instead of well-architected framework)
  well-architected/reliability/metrics.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, waf/svc, waf-pillar-reliability/subsvc
