Repository MicrosoftDocs/well-architected, pull requests merged in 2024-08, with the labels that each got.

#162 Update azure-kubernetes-service.md - Fix Typo
  well-architected/service-guides/azure-kubernetes-service.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, waf-service-guide/subsvc, azure-waf/svc

#163 Remove line about resizing Peered Vnets stating that it is in public preview.
  well-architected/service-guides/azure-virtual-network/operational-excellence.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, pending-content-team/business-approval, waf-service-guide/subsvc, azure-waf/svc

#164 Update azure-expressroute.md .. fixed vwan link at bottom
  well-architected/service-guides/azure-expressroute.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, waf-service-guide/subsvc, azure-waf/svc
